# cloud-config

etcd:
  discovery: "${discovery_url}"
  advertise_client_urls: "http://{PRIVATE_IPV4}:2379"
  initial_advertise_peer_urls: "http://{PRIVATE_IPV4}:2380"
  listen_client_urls: "http://0.0.0.0:2379"
  listen_peer_urls: "http://{PRIVATE_IPV4}:2380"
    
#storage:
#  filesystems:
#    - mount:
#        device: /dev/xvdb
#        format: ext4
#        wipe_filesystem: true

#systemd:
#  units:
#    - name: media-ephemeral.mount
#      enable: true
#      contents: |
#        [Mount]
#        What=/dev/xvdb
#        Where=/media/ephemeral
#        Type=ext4
#
#        [Install]
#        RequiredBy=local-fs.target